@charset "UTF-8";
/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/
/**
 * Set up project-specific variables here which are then used throughout your
 * build.
 */

/**
 * Base stuff
 */
$base-font-size:    16px!default;
$base-line-height:  1.5!default;

/**
 * Brand stuff
 */
$brand-color:     #000000!default;
$brand-text:       #000000!default;

$brand-face:      'Arial', 'Verdana', 'Helvetica', sans-serif!default;

$brand-main-serif-font: 'Cambria', 'Georgia', serif;
$brand-main-sans-font: $brand-face;

$brand-main-body-font: $brand-main-sans-font;
$brand-face-h1:     $brand-face;
$brand-face-h2:     $brand-face;
$brand-face-h3:     $brand-face;
$brand-link-font: $brand-main-sans-font;

/**
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
$base-spacing-unit: 1;
$half-spacing-unit: $base-spacing-unit / 2!default;

/**
 * Responsive stuff
 */
$break-very-small: 20em; // 320 @ 16px
$break-small: 30em; // 480 @ 16px
$break-small-medium: 40em; // 640 @ 16px
$break-medium: 50em; // 800 @ 16px
$break-medium-large: 60em; // 960 @ 16px
$break-large: 70em; // 1120 @ 16px
$break-very-large: 80em; // 1280 @ 16px

$break-mobile: 0; /* No media query since this is the default */
$break-tablet: $break-small-medium; //  640 @ 16px
$break-desktop: $break-medium-large; // 960 @ 16px
